body {
  margin: 0;
  background-color: #e5e7eb;
}

:root {
  --primary-color: skyblue;
  --secondary-color: #374151;
  --dark-gray: #374151;
}

.App {
  font-family: sans-serif;
  text-align: center;
  /* padding: 1rem; */
}

header {
  min-height: 10vh;
  padding: 1rem;
  font-size: 2.5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-bottom-left-radius: 1rem;
}

p {
  padding: 0 1rem;
  color: var(--primary-color);
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
  border: 1px solid var(--secondary-color);
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
hr {
  width: 50%;
}

ul {
  padding-inline-start: 0px;
}
.list-style {
  list-style: none;
}

.song-list {
  margin: auto;
  padding: 0.5rem 2rem;
  max-width: 500px;
}

.song {
  padding: 0.5rem 1rem;
  background-color: var(--dark-gray);
  color: var(--primary-color);
  border-radius: 0.5rem;
}
